@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
// @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

$shadow-color: #23203b;
$input-color: lighten(#AB9E95, 10%);
$input-border-color: #5E5165;
$button-background-color: #27AE60;

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 80px;
  height: 80px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#index {
  display: inline-block;
}

.container {
  margin-top: 10px
}

.card-title {
  margin-bottom: 0;
}

.card-text {
  font-size: 0.8rem;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  padding: 5px;
}

.img-square-wrapper {
  margin-top: 5px;
  margin-left: 5px;
}